<form action="#" class="bug-report" name="bugReport">
    <label>
        Your name:
        <input type="text" id="userName" autocomplete="on" required placeholder="Name">
    </label>
    <label>
        Your email:
        <input type="email" id="userEmail" autocomplete="on" required placeholder="Email">
    </label>
    <label>
        Your feedback:
        <textarea id="reportContent" cols="30" rows="10" required  placeholder="Report"></textarea>
    </label>
    <div class="btn" id="sendReport">Send!</div>
</form>