
    <div class="status-bar flex">
       <span class="status-bar__info">
                Wall Editor
       </span>
        <div class="flex">
            <div class="btn btn_save" id="saveChanges">Save changes</div>
        </div>
    </div>
    <div class="main__content flex">
        <div class="editor-preview flex flex_column">
            <div class="wall" id="wall">
            </div>
            <div class="editor-preview__btns-wrapper">
                <label class="btn btn_load-mg" for="getLocalPhoto"><i class="icon-upload"></i>Upload background</label>
                <button class="btn btn_save" type="button" id="btnStartPreview"><i class="icon-videocam-outline"></i>Start preview!
                </button>
                <input type="file" id="getLocalPhoto" accept="image/jpeg,image/png" style="display: none;">
            </div>
        </div>
    </div>