.wall {
  border: 1px dotted #272727;
  flex-grow: 1;
  position: relative;
}
.wall .img-wrapper {
  position: absolute;
  cursor: url("../../../img/ui/move.svg"), pointer;
  border: 1px dotted #272727;
  display: inline-block;
  max-width: 100%;
}
.wall .img-wrapper__btn {
  position: absolute;
  cursor: pointer;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 40px;
  width: 40px;
  font-weight: bold;
  text-align: center;
  top: 5px;
  right: 5px;
  border-radius: 8px;
  opacity: 0.3;
  transition-duration: 0.3s;
}
.wall .img-wrapper__btn:hover {
  opacity: 1;
}
.wall .img-wrapper__btn_plus {
  right: 50px;
}
.wall .img-wrapper__btn_remove-only-now {
  opacity: 0.5;
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 10px;
  color: #ffffff;
}
.wall .img-wrapper__btn_remove-only-now:hover {
  cursor: pointer;
  opacity: 1;
}
.wall img {
  max-width: 100%;
  height: auto;
  display: block;
}
